.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
  width: auto;
  margin: auto;
  height: 100vh;
  position: relative;
  /* background-image: linear-gradient(to right, rgba(106, 17, 203,.7) 0%, rgba(37, 117, 252,.7) 100%),url("../multimedia/code-world.jpg"); */
  background-image: linear-gradient(to right, rgba(0, 0, 0,.7) 50%,  rgba(0, 0, 0,.7) 70%),url("../multimedia/code-world.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.bio {
  width: 48rem;
  height: 300px;
  padding: 0.625rem;
  border-radius: 6px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
  justify-content: space-around;
  /* border: solid 1px #430981f8; */
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio-title {
  text-align: center;
  font-size: 2.5rem;
}

.bio-text {
  /* line-height: var(--line-height); */
  padding: 0.3rem 0;
  width: auto;
  font-size: 1.3rem;
}

.hero-img {
  height: 500px;
  width: 500px;
  margin-bottom: 100px;
}

.btnHeroProjects {
  position: relative;
  background-color: transparent;
  z-index: 2;
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 150px;
  border-radius: 8px;
  /* margin: 15px auto auto auto; */
  outline: none;
}

.btnHeroProjects:hover {
  border-color: #2575fc;
  background-color: red;
}

.btnHeroProjects>
a {
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
}

.hero-wave {
  position: absolute;
  bottom: 0;
}